<div class="row">
	<ul id='msg-list' class='row' style='list-style: none; display: inline; min-height:200px; padding: 10px;'></ul>
</div>

<div class="row">
	<div class="column-offset-20">
		<input type="text" id="name" class="form-control" placeholder="Name" autofocus>
	</div>
	<div class="column">
		<input type="text" id="msg" class="form-control" placeholder="Message">
	</div>
</div>